@model FilmCollection.Models.Film

@{
    ViewBag.Title = "Create";
}

<h2 style="margin-top:70px">Dodaj novi film</h2>

<div >
    @using (Html.BeginForm("Create", "Film", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(model=>model.Ime)
            @Html.TextBoxFor(model => model.Ime, new { @class = "form-control", @placeholder = "Unesite ime filma" })
            @Html.ValidationMessageFor(model => model.Ime, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model=>model.Godina)
            @Html.TextBoxFor(model => model.Godina, new { @class = "form-control", @placeholder = "Unesite godinu" })
            @Html.ValidationMessageFor(model => model.Godina, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Godina)
            @Html.DropDownListFor(model => model.ReziserId, ViewBag.Reziseri as SelectList)
            
        </div>
        <input type="submit" class="btn" value="Dodaj" />
        @Html.ActionLink("Nazad", "Index", "Film")
    }

</div>